:root {
    --text: #222;
}

/* Página */
body {
    margin: 0;
    min-height: 100vh;

    color: var(--text);
    font-family: Arial, sans-serif;

    transition: color 0.6s ease;
}


/* =========================
   BACKGROUNDS
========================= */

body::before,
body::after {
    content: "";

    position: fixed;
    inset: 0;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    z-index: -1;

    transition: opacity 0.8s ease;
}


/* FOTO CLARA */
body::before {
    background-image: url("LuauBackground.png");
    opacity: 1;
}


/* FOTO ESCURA */
body::after {
    background-image: url("LUAdarkBACKGROUND.png");
    opacity: 0;
}


/* =========================
   TEMA ESCURO
========================= */

body.dark {
    --text: #dddddd;
}


/* Mostra a foto escura */
body.dark::before {
    opacity: 0;
}

body.dark::after {
    opacity: 1;
}


/* =========================
   BOTÃO
========================= */

button {
    padding: 10px 16px;

    border: none;
    border-radius: 8px;

    background: #222;
    color: white;

    cursor: pointer;

    transition:
        background 0.4s ease,
        color 0.4s ease,
        transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

body.dark button {
    background: #ddd;
    color: #222;
}